<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="row">
      <div class="col-sm-12">
        <form class="form" method="post">
          <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <input type="hidden" name="_csrf" value="<%= token %>">
          <div class="form-group">
            <label for="username">Username or email</label>
            <input
              type="text" 
              class="form-control"
              id="username"
              placeholder="username"
              name="username"
            >
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password" 
              class="form-control"
              id="password"
              placeholder="password"
              name="password"
            >
          </div>
          <button class="btn btn-primary btn-block">Login</button>
        </form>
      </div>
    </div>
    <div class="row top-margin">
      <div class="col-sm-6">
        <button class="btn btn-block facebook">
          <i class="fa fa-facebook"></i> 
          Facebook
        </button>
      </div>
      <div class="col-sm-6">
          <button class="btn btn-block google">
            <i class="fa fa-google"></i> 
            Google
          </button>
        </div>
    </div>
  </div>
</div>
<script src="/js/semantic.min.js"></script>
<script>
  console.log('asdasd',$(".form"));
  $(".form").form({
    on: 'blur',
    fields: {
      username: {
        identifier: 'username',
        rules: [{
          type: 'empty',
          prompt: 'Ingrese usuario'
        }]
      }
    }
  })
  // $(".form").validate({
  //   username: {
  //     required: true,
  //   }
  // })
</script>
